<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Admin Password </title>
</head>
<body>
<div class="container text-center">
  <h3 th:text= "${error_message}"/>
</div>
<form th:action="@{/admin/add/registration}" method="post">
  <div><label> Password: <input type="password" name="password"/> </label></div>
  <div><input type="submit" value="Ввести"/></div>
</form>
</body>
</html>