<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz4fnFO9gybB5IXNxFwWQfE7u8Lj+XJHAxKlXiG/8rsrtpb6PEdzD828Ii"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-FqybjgUDXxj/YxRqvCFvgH/+jE3bDgN4Js5ihO1/+jjg/25O+yX7rJKfH+Y2fk5"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
            rel="stylesheet"
    />
    <style>
        .cart-price{
            background-color: #eeeeee;
        }
    </style>
</head>
<body>
<section class="h-100 gradient-custom" style="background-color: #eee;">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8">
                <div class="pt-5">
                    <h6 class="mb-0"><a href="/" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Назад в меню</a></h6>
                </div>
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Корзина - <span th:text="${cart_items.size()}">0</span> блюд</h5>
                    </div>
                    <div th:each="item: ${cart_items}" class="card-body">

                        <hr class="my-4">
                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                                <p><strong th:text="${item.getDish().name}"></strong></p>
                                <div class="mt-1 mb-0 text-muted small">
                                    <span th:text="${item.getDish().getDishType().getNameToString()}"></span>
                                    <span class="text-primary"> • </span>
                                    <span th:text="'~'+${item.getDish().getMinutesForCooking()} + ' минут'"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                <form th:action="@{/cart/change/{dish_id}(dish_id=${item.getDish().getId()})}"
                                      th:method="post" class="dish-count-form" style="display: flex; flex-direction: row">
                                    <button class="btn btn-primary px-2" type="submit"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <input id="form2" min="1" th:max="${item.getDish().getNumber()}" name="count"
                                           th:value="${item.getCount()}" type="number"
                                           class="form-control form-control-sm"/>
                                    <button class="btn btn-primary px-2" type="submit"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()" >
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </form>

                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                <h6 th:text="${item.getDish().price} +  '₽'"></h6>
                            </div>
                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                <form th:action="@{/cart/remove/{dish_id}(dish_id=${item.getDish().getId()})}"
                                      th:method="post">
                                    <button type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                        </svg>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <table th:if="${order_item==null && cart_items.size()!=0}">
                    <colgroup>
                        <col span="1" style="width: 99%;">
                        <col span="1" style="width: 1%;">
                    </colgroup>
                    <tbody>
                    <td>
                        <div th:if="${not #strings.isEmpty(error_message)}" class="alert alert-danger" role="alert">
                            <h5 th:text= "${error_message}"/>
                        </div>
                        <form th:action="@{/order/create}" method="post">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">
                                Сделать заказ
                            </button>
                        </form>
                    </td>
                    <td>
                        <h3 th:text="${cart_total_price} + '₽'"></h3>
                    </td>

                    </tbody>
                </table>
                <script>
                    $(document).ready(function () {
                        let eventSource = new EventSource('/order/status');
                        eventSource.onmessage = function (event) {
                            const orderStatus = event.data;
                            $('#orderStatus').text('Статус заказа: ' + orderStatus);
                            if (orderStatus === "ACCEPTED" || orderStatus === "COOKED") {
                                $('#cancelButton').show();
                            } else {
                                $('#cancelButton').hide();
                            }
                            if (orderStatus === "COMPLETED") {
                                $('#paymentButton').show();
                            } else {
                                $('#paymentButton').hide();
                            }
                            eventSource = new EventSource('/order/status');
                        };
                        let status = document.querySelector("#paymentButton").dataset.status;
                        document.querySelectorAll(".dish-count-form").forEach(form => {
                                form.addEventListener("change", function (e) {
                                    form.submit()
                                })
                            }
                        );

                        if (status === 'COMPLETED') {
                            $('#paymentButton').show();
                        }
                        eventSource.onerror = function (error) {
                            eventSource.close();
                        };
                    });
                </script>
                <div th:if="${order_item!=null}">
                    <table th:if="${cart_items.size()!=0}">
                        <colgroup>
                            <col span="1" style="width: 95%;">
                            <col span="1" style="width: 5%;">
                        </colgroup>
                        <tbody>
                        <td>
                            <div th:if="${not #strings.isEmpty(error_message)}" class="alert alert-danger" role="alert">
                                <h5 th:text= "${error_message}"/>
                            </div>
                            <form th:action="@{/order/add}" method="post">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    Добавить в заказ
                                </button>
                            </form>
                        </td>
                        <td>
                            <div class="card mb-2">
                                <div class="card-body">
                                    <h3 th:text="${cart_total_price} + '₽'"></h3>
                                </div>
                            </div>
                        </td>

                        </tbody>
                    </table>
                    <br>
                    <div class="card mb-4">

                    <div class="card-header py-3">
                        <h5 class="mb-0">Заказ - <span th:text="${order_item.getCartItems().size()}">0</span> блюд <span
                                id="orderStatus"
                                th:text="'Статус заказа: ' + ${order_item.getOrder().getStatus()}"> </span>
                        </h5>
                    </div>
                    <div th:each="order_cart_item: ${order_item.getCartItems()}" class="card-body">

                        <hr class="my-4">
                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                            <div class="col-md-2 col-lg-2 col-xl-2">
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3">
                                <p><strong th:text="${order_cart_item.getDish().name}"></strong></p>
                                <div class="mt-1 mb-0 text-muted small">
                                    <span th:text="${order_cart_item.getDish().getDishType().getNameToString()}"></span>
                                    <span class="text-primary"> • </span>
                                    <span th:text="'~'+${order_cart_item.getDish().getMinutesForCooking()} + ' минут'"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                <p><strong th:text="${order_cart_item.getCount()}"></strong></p>
                            </div>
                            <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                <h6 th:text="${order_cart_item.getDish().getPrice()} +  '₽'"></h6>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0"
                     th:if="${order_item!=null && (order_item.getOrder().getStatus().name() == 'ACCEPTED' || order_item.getOrder().getStatus().name() == 'COOKED')}">
                    <form th:action="@{/order/cancel}" method="post">
                        <button id="cancelButton" type="submit" class="btn btn-primary btn-lg btn-block">
                            Отменить заказ
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-header py-3">
                        <h5 class="mb-0">Стоимость</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <div th:if="${order_item!=null}">
                                <li th:each="price_item : ${order_item.getCartItems()}"
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                    <div th:text="${price_item.getDish().getName()} + ' x' + ${price_item.getCount()}"></div>
                                    <span th:text="${price_item.getCount()*price_item.getDish().getPrice()} + '₽'"></span>
                                </li>
                                <li
                                        class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                    <div>
                                        <strong>Общий счёт</strong>
                                    </div>
                                    <span><strong th:text="${total_price} + '₽'"></strong></span>
                                </li>
                            </div>
                        </ul>

                        <form th:action="@{/order/pay}" method="post" th:if="${order_item!=null}">
                            <hr class="my-4">
                            <h4 class="mb-3">Оплата</h4>
                            <div class="my-3">
                                <div class="form-check">
                                    <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
                                    <label class="form-check-label" for="credit">Кредитная карта</label>
                                </div>
                                <div class="form-check">
                                    <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="">
                                    <label class="form-check-label" for="debit">Дебетовая карта</label>
                                </div>
                                <div class="form-check">
                                    <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required="">
                                    <label class="form-check-label" for="paypal">PayPal</label>
                                </div>
                            </div>

                            <div class="row gy-3">
                                <div class="col-md-6">
                                    <label for="cc-name" class="form-label">Имя на карте</label>
                                    <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                                    <small class="text-muted">Полное имя, как отображено на карточке</small>
                                    <div class="invalid-feedback">
                                        Имя на карте обязательно.
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="cc-number" class="form-label">Номер кредитной карты</label>
                                    <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                                    <div class="invalid-feedback">
                                        Номер кредитной карты обязателен.
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label for="cc-expiration" class="form-label">Срок действия</label>
                                    <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                                    <div class="invalid-feedback">
                                        Дата истечения карты обязательна.
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label for="cc-cvv" class="form-label">CVV</label>
                                    <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                                    <div class="invalid-feedback">
                                        Защитный код обязателен.
                                    </div>
                                </div>
                            </div>

                            <hr class="my-4">
                            <button type="submit" class="btn btn-primary btn-lg btn-block" id="paymentButton"
                                    style="display: none;" th:data-status="${order_item.getOrder().getStatus().name()}">
                                Оплатить
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<!-- MDB -->
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
></script>
</html>