<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="dish_head (operation_type)">
    <meta charset="ISO-8859-1">
    <title th:text="${operation_type == 'Create' ? 'Create Dish' : 'Edit Dish'}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body th:fragment="dish_body (operation_type,dish,dish_types)">
    <section class="vh-100" style="background-color: #eee;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                    <div class="card text-black" style="border-radius: 25px;">
                        <div class="card-body p-md-5">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" th:text="${operation_type == 'Create' ? 'Добавлению блюда в меню' : 'Редактирвоание блюда'}"></p>
                                    <form th:action="@{/admin/dish/save}" th:object="${dish}"
                                          method="post" style="max-width: 600px; margin: 0 auto;">
                                        <div class="m-3">
                                            <div th:if="${operation_type == 'Edit'}">
                                                <input type="hidden" th:field="*{id}" />
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-4 col-form-label">Название: </label>
                                                <div class="col-8">
                                                    <label>
                                                        <input type="text" th:field="*{name}"  class="form-control" required
                                                               minlength="3" maxlength="30"/>
                                                    </label>
                                                </div>
                                            </div>
                                            <br/>
                                            <div class="form-group row">
                                                <label class="col-4 col-form-label">Количество: </label>
                                                <div class="col-8">
                                                    <label>

                                                        <input type="number" th:field="*{number}"  class="form-control"
                                                               required minlength="1" maxlength="20" min="1"/>
                                                    </label>
                                                </div>
                                            </div>
                                            <br/>
                                            <div class="form-group row">
                                                <label class="col-4 col-form-label">Время приготовления(мин.): </label>
                                                <div class="col-8">
                                                    <label>
                                                        <input type="number" th:field="*{minutesForCooking}" class="form-control"
                                                               required minlength="1" maxlength="20" min="1" max="320"/>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-4 col-form-label">Цена: </label>
                                                <div class="col-8">
                                                    <label>
                                                        <input type="number" th:field="*{price}"  class="form-control"
                                                               required minlength="1" maxlength="20" min="0"/>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <select class="form-control" th:field="*{dishType}"  id="dropOperator">
                                                    <option th:each="dish_type : ${dish_types}" th:value="${dish_type}" th:text="${dish_type.getNameToString()}" th:selected="${operation_type == 'Edit'} ? ${dish.getDishType() == dish_type} : ${dish_type == dish_types[0]}"></option>
                                                </select>
                                            </div>
                                            <br/>
                                        </div>
                                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                            <button type="submit" class="btn btn-primary btn-lg" th:text="${operation_type == 'Create' ? 'Добавить' : 'Сохранить'}"></button>
                                        </div>
                                    </form>
                                    <div class="pt-5">
                                        <h6 class="mb-0"><a href="/admin/edit/menu" class="text-body"><i
                                                class="fas fa-long-arrow-alt-left me-2"></i>Назад в меню</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>