<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <title>Order History</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
            rel="stylesheet"
    />
    <style>

        .gradient-custom {
            /* fallback for old browsers */
            background: #6a11cb;

            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
        }

    </style>
</head>
<body>
<section class="h-100 gradient-custom">
    <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
            <div class="col-md-8" th:if="${order_items!=null && order_items.size()>0}">
                <div th:each="i : ${#numbers.sequence( 0, order_items.size()-1)}">
                    <div class="card mb-4">
                        <div class="card-header py-3">
                            <h5 class="mb-0" th:text="'Заказ ' + ${order_items.get(i).getOrder().getLastStatusUpdate().toLocalDate()}">Заказ</h5>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <div th:if="${order_items.get(i)!=null}">
                                    <li th:each="price_item : ${order_items.get(i).getCartItems()}"
                                        class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                        <div th:text="${price_item.getDish().getName()} + ' x' + ${price_item.getCount()}"></div>
                                        <span th:text="${price_item.getCount()*price_item.getDish().getPrice()} + '₽'"></span>
                                    </li>
                                    <li
                                            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                        <div>
                                            <strong>Общий счёт</strong>
                                        </div>
                                        <span><strong th:text="${total_prices.get(i)} + '₽'"></strong></span>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt-5">
                <h6 class="mb-0">
                    <a href="/" class="text-body">
                        <i class="fas fa-long-arrow-alt-left me-2" style="color: #eeeeee"></i>
                        <h3 style="color: #eeeeee">Назад в меню</h3>
                    </a>
                </h6>
            </div>
        </div>
    </div>
</section>
</body>
<!-- MDB -->
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
></script>
</html>